module Prop07

type nat =
  | Z : nat
  | S : nat -> nat

let rec add x y = match x with
  | Z -> y
  | S x' -> S (add x' y)

let rec sub x y = match x with
  | Z -> Z
  | S x' -> (match y with
             | Z -> x
             | S y' -> sub x' y')

val tip_seven : n:nat -> m:nat -> Lemma(ensures sub (add n m) n = m)
let rec tip_seven n m = match n with
  | Z -> (match m with
          | Z -> ()
          | S m' -> ())
  | S n' -> tip_seven n' m
