module Prop18

type nat =
  | Z : nat
  | S : nat -> nat

let rec add x y = match x with
  | Z -> y
  | S x' -> S (add x' y)

let rec lt x y = match y with
  | Z -> false
  | S y' -> (match x with
             | Z -> true
             | S x' -> lt x' y')

val tip_18 : i:nat -> m:nat -> Lemma(ensures lt i (S (add i m)))
let rec tip_18 i m = match i with
  | Z -> ()
  | S i' -> tip_18 i' m
