module Prop08

type nat = 
  | Z: nat
  | S: nat -> nat

type natlist =
  | Nil: natlist
  | Cons: nat -> natlist -> natlist

let rec eq_nat x y = match x with 
  | Z -> (match y with 
            | Z -> true
            | S(y') -> false)
  | S(x') -> (match y with 
                | Z -> false
                | S(y') -> eq_nat x' y')

let rec add x y = match x with
  | Z -> y
  | S x' -> let p = add x' y in
            S p


let rec count xs = match xs with
  | Nil -> Z
  | Cons x xs' -> let p = count xs' in
                    S p

let rec append xs ys = match xs with
  | Nil -> ys
  | Cons x xs' -> let l = append xs' ys in
                    Cons x l

(*
val((n: Nat, xs: NList, ys: NList) ->
        Lemma(add(count(n, xs), count(n, ys)) == count(n, app(xs, ys))))
*)
val tip_two: xs:natlist -> ys:natlist ->
        Lemma(ensures add (count xs) (count ys) = count (append xs ys))
let rec tip_two xs ys = match xs with
  | Nil -> ()
  | Cons x xs' -> tip_two xs' ys